.categorias {
    display: flex;
    font-size: 30px;
    background-color: #3cff00;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.lista-categorias {
    display: flex;
    margin: 10px;

}

.Ação {
    padding-right: 20px;
}

.Drama {
    padding-right: 20px;
}